@import 'nib'

//GENERAL
.mdi
    font-size 24px
    display inline-block

// CONTENT
html
    background $bgColor

html, body
    margin 0
    padding 0
    font-family $textFont
    color $textColor
    font-size $text_p

.wrapper
    padding 0
    margin auto
    display flex
    width $wrapper
    box-sizing border-box
    position absolute
    left 0
    top 0
    right 0
    bottom 0
    @media (max-width $screen-sm)
        flex-direction column
    .header-cont
        width 33%
        max-width 320px
        min-width: 220px
        transition ease-in-out all 300ms
        @media (max-width $screen-sm)
            width auto
            max-width none
            padding $paddingBox*1.5 $paddingBox*2
    .cont-body
        width auto
        flex-grow 1

.header-cont
    background $white1
    padding $paddingBox*2
    box-sizing border-box
    display flex
    flex-direction column
    /h1.logo-title
        padding 0
        margin 0
        font-size $text_h3
        font-weight normal
        img.logo-ico
            size 48px
            vertical-align middle 
        span.logo-text
            display inline-block
            vertical-align middle
            margin-left $paddingBox
    .cont-img-render
        text-align center
        display flex
        flex-direction column
        transition ease-in-out all 300ms
        .img-mascarade
            margin $paddingBox*2 auto 0
            background $gray5
            overflow hidden
            border-radius 100%
            size 220px
            min-height @height
            border 4px solid $white1
            box-shadow rgba(0,0,0,0.2) 0px 4px 16px 0px
            position relative
            transition ease-in-out all 300ms
            @media (max-width $screen-sm)
                size 110px
                min-height @height
                margin auto
                position absolute
                right $paddingBox
                top $paddingBox*1.5
            video, canvas
            img.img-render
                min-width 100%
                min-height 100%
                height 100%
                position absolute
                top -1000px
                bottom -1000px
                right -1000px
                left -1000px
                margin auto
                border 1000px
            video, canvas
                display none
            canvas, img 
                z-index 1
        .img-description
            display flex
            flex-direction column
            @media (max-width $screen-sm)
                display none
            h2.img-title
                font-size $text_h1
                box-sizing: border-box
                text-overflow ellipsis
                white-space nowrap
                overflow hidden
                max-width 100%
            h3.img-subtitle
                text-align left
                margin 0px
                padding 0px 0px 8px
            ul.label-collection
                text-align left
                defaultDisplay(block)
                padding-left $paddingBox
                overflow auto
                width: 100%
                box-sizing border-box
                li.item
                    defaultDisplay(block)
                    padding 2px
                    
                    .i-key, .i-value
                        display inline-block
                        padding 2px 0px
                    .i-key:after
                        beforeAfter inline relative auto auto 
                        content ':'
                    .i-value
                        padding-left 4px
                        display inline
                        vertical-align middle
.cont-body
    box-sizing border-box
    display flex
    flex-direction column
    nav.menu
        text-align left
        font-size $text_h4
        padding 0
        
        &, a
            color $textColor
            text-decoration none 
            transiton ease-in-out 250ms all
        @media (max-width $screen-sm)
            background $corp1
            text-align center
            a
                color $orange1
        /ul.options
            defaultDisplay(flex)
            box-sizing border-box
            width 100%
            @media (max-width $screen-sm)
                background $orange3
            li
                width 100%
                defaultDisplay(block)
                
                &.active a
                    background transparent
                    color  $corp1
                    font-weight bold
                    @media (max-width $screen-sm)
                        color $white1
                        font-weight normal
                        &:after
                            background $primary
            a
                display block
                padding $paddingBox $paddingBox*3
                background rgba($gray1, 0.12)
                position relative
                &:after
                    beforeAfter block absolute 100% 3px
                    top 100%
                    left 0
                    background transparent
                @media (max-width $screen-sm)
                    color $orange1
                    background transparent
        .item-title
            display none
            font-size $text_h1
            margin 0
            padding $paddingBox $paddingBox*2
            text-align left
            @media (max-width $screen-sm)
                display block
                color $white1
    .main-data
        box-sizing border-box
        overflow auto
        max-width 100%
        padding $paddingBox*2 $paddingBox*3 100px
        ul.data-collection
            display block
            padding 0
            margin 0
            li.item
                defaultDisplay(flex)
                border-bottom 1px dotted rgba($textColor, 0.3)
                &:hover
                    background rgba($textColor, 0.05)
            .i-value, .i-key
                padding 8px 8px 8px 4px
                display block
                flex-grow 1
            .i-value
                text-align right
        ul.data-color
            display block
            padding 0
            margin 0
            li.item
                defaultDisplay(flex)
                margin-bottom 8px
                padding 2px
                position relative
                background $white1
                box-shadow $box-shadow3
                box-sizing border-box

            .i-band, .i-key
                min-width 1%
                position absolute
                display block
                z-index 0
                height 84%
                max-width 99%
                box-sizing border-box
            .i-value
                text-indent 0.5em
                line-height 1.5em
                text-align right
                position relative
                z-index 1
                color $white1
                text-shadow rgba(0,0,0,0.5) 1px 1px 1px, rgba(0,0,0,0.3) 1px 1px 3px

.float-menu
    position fixed
    box-sizing border-box
    bottom $paddingBox*3
    right $paddingBox*4
    size 48px
    text-align center
    
    .btn-float
        overflow hidden
        border-radius 1000px
        background $primary
        size 56px
        line-height @height
        display inline-block
        color $white1
        box-shadow $box-shadow2
        cursor pointer
        position relative
        top 0
        transition all ease-in-out 250ms
        &:hover
            box-shadow $box-shadow2b
            background lighten($primary, 10)
            top -5px
        input
            position absolute
            left -1000px
            top @left
            size 1px
        .mdi
            font-size 24px
            display inline-block

.empty-msn
    position absolute
    top 0
    left 0
    bottom 0
    right 0
    margin auto
    max-width 320px
    height 220px
    text-align center
    color rgba($textColor,0.5)
    display flex
    flex-direction column
    display none
    .empty-icon, .empty-text
        display block
    i.empty-icon
        font-size 96px
    span.empty-text
        font-size $text_h4

body .data-empty
    &:before
        background-image url('/static/img/')
    .header-cont
        background transparent
    .cont-img-render
    .menu
        display none
    .empty-msn
        display block
    // loading
    &.image-readed
        .empty-msn
        .img-description
            display none
        .cont-img-render
            display block
            position fixed
            height 100%
            background rgba($white1, 0.66)
            top 0
            bottom 0
            z-index 1
            left 0
            right 0
        .img-mascarade
            top 10%
            left 0
            right 0
            size 220px
