// colors base
$white1= #fff
$gray1=#4f5d73
$gray2= #666
$gray3= #afb5bf
$gray4= #fafafa
$gray5= #e6e7ea
$gray6= #2b2b2b
$orange1= #bc4b00
$orange2= #ff7f29
$orange3= #ff9032
$blue1= #4db9dc

/*colors use*/
$primary= $blue1
$corp1 = $orange2
$corp2 = $gray1
$muted = $gray4

$success = $green-700
$info = $cyan-700
$warning = $orange-800
$danger = $red-600

$bgColor = $gray4
$borderColor = $gray3

// colors text
$titleColor = $gray1
$titleFont = 'arial', sans-serif
$textFont = 'arial', sans-serif
$textColor = $gray1
$textColorBold = $gray6
$textGray = $gray2

// media widths
$screen-xlg = 1600px // design screen
$screen-sc = 1024px // desktop
$screen-md = 840px // tableta
$screen-sm = 480px // phone

// font-size
$text_small = 11px
$text_ps = 12px
$text_p = 14px
$text_h1 = 32px
$text_h2 = 28px
$text_h3 = 24px
$text_h4 = 18px
$text_h5 = 16px
$text_h6 = 12px
$text_sm = 10px

// dimensiones y fomra
$rad = 2px
$paddingBox = 10px
$wrapper = 100%

$box-shadow1 = rgba(0,0,0,0.2) 0px 4px 16px 0px
$box-shadow2 = 0px 2px 10px rgba(0,0,0,.3), 0px 0px 1px rgba(0,0,0,.1), inset 0px 1px 0px rgba(255,255,255,.25), inset 0px -1px 0px rgba(0,0,0,.15)
$box-shadow2b = 0px 5px 5px rgba(0,0,0,.2), 0px 10px 14px rgba(0,0,0,.1), inset 0px 1px 0px rgba(255,255,255,.25), inset 0px -1px 0px rgba(0,0,0,.10)