doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title VisionApp
    
    link(rel='icon', type='image/svg+xml', href='/static/img/favicon.svg', sizes='any')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css', rel='stylesheet')
    link(href='https://cdn.materialdesignicons.com/3.0.39/css/materialdesignicons.min.css', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/style.css')

    script(src='https://www.gstatic.com/firebasejs/5.5.7/firebase.js')
    
    script(src='/static/js/constants.js')
    script(src='/static/js/HelperImages.js')
    //-script(src='/static/js/HelperCamera.js')
    script(src='/static/js/scripts.js')
 
  body(onload='loadApp()')
    #WRAPPER.wrapper
      header#HEADER.header-cont
        h1.logo-title
          img.logo-ico(src='/static/img/favicon.svg', alt='')
          span.logo-text
            b Vision
            span App
        .cont-img-render
          .img-mascarade
            img#IMG_UPLOADED.img-render(src='/static/img/banana_tmp.png')
            .camera-cont
              video#VIDEO(autoplay='')
              canvas#CANVAS
          .img-description
            h2#IMG-TITLE.img-title Banano
            h3.img-subtitle Tags:
            ul.label-collection
              - for (var i=1; i<30;i++)
                li.item
                  b.i-key Pera
                  i.i-value #{i}0%
      
      #CONT.cont-body
        nav#MENU.menu
          h2.item-title Banano
          ul.options
            li.active
              a#NUTRITION(href='#DATA_NUTRITION') Nutrución
            li
              a#STATE(href='#DATA_STATE') Estado
        
        main#CONT_DATA.main-data
          #DATA_NUTRITION.data
            ul.data-collection
              - for (var i=1; i<30;i++)
                li.item
                  b.i-key Cal c/100g
                  i.i-value #{i}00

          //-#DATA_STATE.data
            ul.data-collection
              - for (var i=1; i<300;i++)
                li.item
                  b.i-key Cal c/100g
                  i.i-value #{i}00
      
    #FLOAT_BTN.float-menu
      label.btn-float
        input#UPLOAD_FILE(type='file')
        i.mdi.mdi-image-plus
