<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VisionApp</title>
    <link rel="icon" type="image/svg+xml" href="/static/img/favicon.svg" sizes="any">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" rel="stylesheet">
    <link href="https://cdn.materialdesignicons.com/3.0.39/css/materialdesignicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.7/firebase.js"></script>
    <script src="/static/js/constants.js"></script>
    <script src="/static/js/HelperImages.js"></script>
  </head>
  <body>
    <div class="app" id="app" v-bind:class="{&quot;image-readed&quot;:isImageReaded, &quot;data-empty&quot;:isDataEmpty}">
      <div class="empty-msn" id="EMPTY" v-if="isDataEmpty"><i class="empty-icon mdi mdi-image-plus"></i><span class="empty-text">Cargue una imagen para ver su descripción</span></div>
      <div class="wrapper" id="WRAPPER">
        <header class="header-cont" id="HEADER">
          <h1 class="logo-title"><img class="logo-ico" src="/static/img/favicon.svg"><span class="logo-text"><b>Vision</b><span>App</span></span></h1>
          <div class="cont-img-render">
            <div class="img-mascarade"><img class="img-render" id="IMG_UPLOADED" v-bind:src="imgFruitSrc">
              <div class="camera-cont">
                <video id="VIDEO" autoplay=""></video>
                <canvas id="CANVAS"></canvas>
              </div>
            </div>
            <div class="img-description">
              <h2 class="img-title" id="IMG_NAME">{{ fruitName }}</h2>
              <h3 class="img-subtitle">Tags:</h3>
              <ul class="label-collection" id="IMG_TAGS">
                <li class="item" v-for="tag in tagsList"><b class="i-key">{{tag.title}}</b><i class="i-value">{{tag.value.toFixed(2)}}</i></li>
              </ul>
            </div>
          </div>
        </header>
        <div class="cont-body" id="CONT">
          <nav class="menu" id="MENU">
            <h2 class="item-title" id="IMG_TITLE_CONT">{{ fruitName }}</h2>
            <ul class="options">
              <li v-bind:class="{&quot;active&quot;:(menuToShow == 0)}"><a id="NUTRITION" href="#DATA_NUTRITION" v-on:click="showMenu(0)">Nutrución</a></li>
              <li v-bind:class="{&quot;active&quot;:(menuToShow == 1)}"><a id="STATE" href="#DATA_STATE" v-on:click="showMenu(1)">Estado</a></li>
            </ul>
          </nav>
          <main class="main-data" id="CONT_DATA">
            <div class="data" id="DATA_NUTRITION" v-if="menuToShow == 0">
              <ul class="data-collection" id="IMG_INFO" v-if="nutriList.length">
                <li class="item" v-for="fruit in nutriList"><b class="i-key">{{fruit.title}}</b><i class="i-value">{{fruit.value}}</i></li>
              </ul>
            </div>
            <div class="data" id="DATA_STATE" v-if="menuToShow == 1">
              <ul class="data-color" v-if="colorList.length">
                <li class="item" v-for="fruitColor in colorList"><b class="i-band" v-bind:style="{background:fruitColor.rgb, width:(fruitColor.pixel_fraction*1000)+&quot;%&quot;}"></b><i class="i-value">{{ (fruitColor.pixel_fraction*1000).toFixed(2) }}</i></li>
              </ul>
            </div>
          </main>
        </div>
      </div>
      <div class="float-menu" id="FLOAT_BTN">
        <label class="btn-float">
          <input id="UPLOAD_FILE" type="file" v-on:change="loadImage"><i class="mdi mdi-image-plus"></i>
        </label>
      </div>
    </div>
  </body>
  <script src="/static/js/scripts.js"></script>
</html>